* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.7;
}
#app {
  background-color: #accbee;
  border-bottom: 10px solid #15dea5;
  max-width: 112rem;
  margin: 0 auto;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  margin-top: 4rem;
  padding-top: 2rem;
  width: 70%;
  min-width: 38rem;
  max-width: 60rem;
  background: #fff;
  padding: 6rem 4.5rem 3rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}
form::after {
  content: "";
  width: 6rem;
  height: 6rem;
  background: linear-gradient(65deg, #dfe9f4, #accbee);
  border-radius: 15rem;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
div {
  transition: all 0.2s;
}
label {
  letter-spacing: 1px;
}
input[type="text"],
input[type="password"] {
  margin: 0.7rem 0;
  border: 1px solid transparent;
  background: rgb(235, 244, 242);
  height: 3.6rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  padding-left: 1rem;
  transition: all 0.2s;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #c9e2db;
  outline: none;
}
input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #dfe9f4, #accbee);
  width: 50%;
  margin: 1.2rem auto 0;
  padding: 1rem;
  border-radius: 15rem;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="submit"]:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}
span {
  margin-bottom: 20px;
  display: block;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  color: red;
}
p {
  background: red;
  width: 33%;
  height: 6px;
  margin: -2px 0 2px;
  border-radius: 50px;
  visibility: hidden;
  transition: 0.3s;
}

/* ERROR */
.error input {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527);
}
.error span {
  visibility: visible;
  opacity: 1;
  color: red;
}

/* PROGRESS */
